.is-page-padding-top {
  padding-top: 5.063rem;
}

.main {
  padding-top: 3rem
}

.box {
  background-color: #007fff;
}

.box-content {
  position: relative;
  top: -20px;
  left: 50px;
}

.button {
  border: 1px solid #dfe4ea;
  color: #000000;
  padding: .75rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: .875rem;
}

.button.is-fullwidth {
  width: 100%;
}

.button.is-facebook {
  background-color: #3b5998;
  color: #ffffff;
  border: none;
}

.button.is-twitter {
  background-color: #00acee;
  color: #ffffff;
  border: none;
}

.button.is-dribbble {
  background-color: #ea4c89;
  color: #ffffff;
  border: none;
}

.sidebar {
  position: fixed;
  width: 5.063rem;
  height: 100%;
}

.sidebar-menu {
  padding: 1.5rem 0;
  margin: 0;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #dfe4ea;
  list-style-type: none;
}

.sidebar-menu > .sidebar-menu-item {
  padding: 1.5rem 0;
}

.sidebar-menu-item {
  text-align: center;
}

.sidebar-menu-item a {
  color: #8a8a8a;
}

.sidebar-menu-item a:link {
  text-decoration: none;
  color: #8a8a8a;
}

.sidebar-menu-item a:hover {
  color: #000000;
}

.navbar {
  position: fixed;
  background-color: #323b4b;
  width: 100%;
  height: 5rem;
  padding-right: 5rem;
  top: 0;
  z-index: 999;
}

.navbar-content {
  float: left;
  height: 100%;
  width: 100%;
}

.navbar-content > * {
  float: left;
}

.navbar-control {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.navbar-control > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-control.is-right {
  float: right;
}

.navbar-logo {
  float: left;
  height: 5rem;
  width: 5rem;
  background-color: #ff6b4b;
}

.navbar-title {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0;
  color: #ffffff;
  padding: 0 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navbar-text {
  display: inline-flex;
  color: #ffffff;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0 4rem;
  font-size: 1.25rem;
}

.navbar-search {
  position: relative;
  display: inline-flex;
  width: 30%;
  height: 100%;
}

.navbar-search-text {
  width: 100%;
  border: none;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #4f5c74;
  caret-color: #ffffff;
  padding-left: 2rem;
}

.navbar-search-text::placeholder { /* Edge */
  color: #6C7e9e;
  font-size: 1.25rem;
}

.navbar-search-text:focus {
  outline: none;
}

.navbar-search-icon {
  position: absolute;
  display: flex;
  color: #6c7e9e;
  right: 0;
  align-self: center;
  padding-right: 1.5rem;
}

.navbar-activity-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  right: 0;
}

.navbar-activity-menu-item {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 4.4rem;
  color: #ffffff;
}

.navbar-avatar {
}

.navbar-avatar > * {
  padding: .5rem;
}

.navbar-avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.navbar-avatar-name {
  float: right;
}

.navbar-avatar-title {
  color: #ffffff;
  font-size: 1.25rem;
}

.navbar-avatar-job {
  color: #6c7e9e;
}


.profile-header {
  position: relative;
  border: 1px solid #dfe4ea;
  border-radius: .313rem;
}

.profile-cover {
  position: relative;
  width: 100%;
  height: 305px;
  background-image: url("/img/profile_cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  background-position: 0 -2.5px;
  border-top-right-radius: .313rem;
  border-top-left-radius: .313rem;
}

.profile-navbar {
  background-color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom-right-radius: .313rem;
  border-bottom-left-radius: .313rem;
}

.profile-navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profile-navbar-menu-item {
  color: #9e9e9e;
}

.profile-navbar-menu-item a {
  color: #9e9e9e;
}

.profile-navbar-menu-item a:link {
  text-decoration: none;
  color: #9e9e9e;
}

.profile-navbar-menu-item a:hover {
  color: #000000;
}

.profile-cover-content {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: center;
}

.profile-cover-content  > .profile-avatar {
  position: absolute;
  bottom: -5rem;
}

.profile-cover-content  > .profile-activity-menu {
  position: absolute;
  right: 4rem;
  bottom: -1.6rem;
}

.profile-avatar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 10.5rem;
}

.profile-avatar > .profile-avatar-border {
  margin-bottom: .4rem;
}

.profile-avatar-border {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  background-color: #ffffff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  border: 0.375rem solid #ffffff;
}

.profile-avatar-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile-avatar-name {
  text-align: center;
  font-size: 1.25rem;
}

.profile-avatar-location {
  text-align: center;
}

.profile-activity-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.profile-activity-menu :first-child {
  margin-left: 0;
}

.profile-activity-menu > .profile-activity-menu-item {
  margin-left: 1rem;
}

.profile-activity-menu-item {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 4.4rem;
  color: #ffffff;
}

.profile-activity-menu-item.is-blue {
  background-color: #2cc2ff;
}

.profile-activity-menu-item.is-purple {
  background-color: #a86fed;
}

.profile-activity-menu-item.is-orange {
  background-color: #ff6b4b;
}

.post {
  position: relative;
  margin: 2rem 0;
  padding: 2.5rem 2.5rem;
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  border-radius: .313rem;
}

.post > .post-actions {
  position: absolute;
  right: -20px;
  top: 30px;
}

.post-actions {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

.post-actions > .post-actions-item  {
  margin: .225rem 0;
}

.post-actions-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: #ffffff;
}

.post-actions-item.is-yellow {
  background-color: #ffcd45;
}

.post-actions-item.is-grey {
  background-color: #8d9fad;
}

.post-header {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.post-content {
  padding: 0;
  margin-top: 1.5rem;
}

.post-line {
  width: 100%;
  border-top: 1px solid #dfe4ea;
}

.post-avatar {
  display: flex;
}

.post-avatar > .post-avatar-name {
  margin-left: .725rem;
}

.post-avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-hours {
  font-size: .825rem;
  color: #9e9e9e;
}

.post-avatar-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.post-more-actions {
  display: flex;
  align-items: center;
}

.post-additional-info {
  display: flex;
  padding: 0.225rem 0 0 0;
}

.post-number-icon {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.post-number-icon > * {
  padding: 0 .225rem;
}

.post-likes {
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.post-likes > * {
  padding: 0 .5rem;
}

.post-likes-people {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.post-likes-people > .post-likes-people-item {
  margin-left: -.5rem;
}

.post-likes-people-item {
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.post-likes-people-image {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-comments-and-shares {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.post-comments-and-shares > * {
  padding-left: .225rem;
}

.info {
  position: relative;
  margin: 2rem 0;
  padding-bottom: 2rem;
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  border-radius: .313rem;
}

.info > .info-header {
  padding: .525rem 2rem 0 2rem;
}

.info > .info-content {
  padding: 0 2rem;
}

.info-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe4ea;
}

.info-header-title {
  margin: 1rem 0;
  padding: 0;
}

.info-content {
  width: 100%;
}


.info-title {
  font-size: .75rem;
}

.info-text {
  margin: 0;
  padding: 0;
  font-size: .75rem;
}

.info-social-buttons {
}

.info-social-buttons > .button {
  margin: .525rem 0;
}

.info-friends {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem 0 2rem;
}

.info-friends-item {
  box-sizing: border-box;
  /*-webkit-order: 0;*/
  /*  -ms-flex-order: 0;*/
  /*  order: 0;*/
  /*  -webkit-flex: 0 1 auto;*/
  /*  -ms-flex: 0 1 auto;*/
  /*  flex: 0 1 auto;*/
  /*  -webkit-align-self: auto;*/
  /*  -ms-flex-item-align: auto;*/
  /*  align-self: auto;*/
  height: 6.187rem;
  width: 6.187rem;
  padding: .3rem;
}

.info-friends-item > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}



